/* HEADING */

header {
  width: 77%;
  margin: auto;
}

.nyt-head {
  max-width: 40%;
  padding-top: 4%;
  min-width: 300px;
  margin: auto;
  display: flex;
  text-align: center;
}

.page-info {
  font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  top: 6%;
  left: 11%;
}

.page-date {
  margin: 10px;
}

.page-meta {
  margin: 10px;
}

nav {
  align-items: center;
  padding: 20px;
}

nav ul {
  font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 30px;
}

hr {
  margin-top: 20px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  height: 2px;
  width: 77.5%;
  margin: auto;
}

/* ARTICLE COLUMNS */

.column-container {
  display: grid;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.column {
  padding: 20px;
  padding-top: 0%;
  border-right: 1px solid #d9d9d9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #111;
  line-height: 1.6;
  font-size: 1rem;
  color: gray;
}

h1 {
  font-family: 'Playfair Display', Georgia, serif;
  letter-spacing: -0.5px;
  font-size: 1.75rem;
  color: black;
  margin: 0;
}

.article-img {
  max-width: 95%;
}

/* MEDIA QURIES */

/* Desktop: width >1024px */
@media (min-width: 1024px) {
  .column-container { grid-template-columns: repeat(3, 1fr); }
  .column:nth-child(3n) { border-right: none; }
}

/* Tablet: width >768px and <1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .column-container { grid-template-columns: repeat(2, 1fr); }
  .column:nth-child(even) { border-right: none; }
  .nyt-logo { padding: 4%; }
  .page-info { display: none; }
  nav { display: none; }
}

/* Mobile: width <768px */
@media (max-width: 768px) {
  .column-container { grid-template-columns: repeat(1, 1fr); }
  .column { border-right: none; }
  .nyt-logo { padding: 4%; }
  .page-info { display: none; }
  nav { display: none; }
}